body {
//	background: rgba(120,120,120,.3);
	background: black;
}

ul{
	height: 90px;
}

li{
	color: cyan;
	transition: .5s;
}

li:hover {
	font-size: 35px;
}

a:hover {
	color: forestgreen;
}

a:visited {
	color: cyan;
}

.test1 {
	color: red;
}



